.news-letter h3 {
    text-transform: uppercase;
    font-size: x-large;
    font-weight: 700;
    color: #fd9616;
    padding-top: 45px;
}
.news-letter .email-section .email-data {
    height: 80px;
    border: 2px solid #fd9616;
    border-radius: 40px;
    margin-left: 0;
    text-indent: 20px;
}
.news-letter p {
    font-size: 18px;
    color: #fd9616;
}
.news-letter {
    height: auto;
    background-color: #fff4e7;
}
.news-letter .email-section .merge-button {
    height: 70px;
    margin: 0;
    padding: 22px 30px 30px;
    border-radius: 40px;
    position: relative;
    top: -75px;
    left: -5px;
    background-color: #fd9616;
    border: #fd9616;
    float: right;
    text-transform: uppercase;
    font-weight: 700;
    font-size: larger;
}