.VideoApp {
    font-family: sans-serif;
    text-align: center;
    width: 100vw;
    /* height: 700px; */
    z-index: 100;
    scrollbar-width: none;  /* Firefox */
  }


  .Video{
    z-index: 100;

  }

  /* ................  */

  .main {
    position: relative;
}
